.page {
  font-weight: 400;
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.8333333333333333em;
  padding: 1.8333333333333333em;
  margin: 0 auto;
}
.page h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 2.7777777777777777em;
  line-height: 1.32em;
  margin-top: 0.66em;
  margin-bottom: 0.66em;
}
.page h2 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1.9444444444444444em;
  line-height: 1.8857142857142857em;
  margin-top: 0.9428571428571428em;
  margin-bottom: 0.9428571428571428em;
}
.page h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1.3888888888888888em;
  line-height: 1.32em;
  margin-top: 1.32em;
  margin-bottom: 0em;
}
.page h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1em;
  line-height: 1.8333333333333333em;
  margin-top: 1.8333333333333333em;
  margin-bottom: 0em;
}
.page h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  line-height: 1.8333333333333333em;
  margin-top: 1.8333333333333333em;
  margin-bottom: 0em;
}
.page p, .page ul, .page ol, .page pre, .page table, .page blockquote {
  margin-top: 0em;
  margin-bottom: 1.8333333333333333em;
}
.page ul ul, .page ol ol, .page ul ol, .page ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.page hr {
  border: 1px solid;
  margin: -1px 0;
}
.page b, .page strong, .page em, .page small, .page code {
  line-height: 1;
}
.page sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
.page sub {
  bottom: -0.25em;
}
.page a {
  color: #268ED9;
}

