%h1 What I'm doing right now
%ul
  %li
    Migrating my blog from Jekyll to Middleman
  %li
    Working for OP financial group (
    = link_to "OP.fi", "https://op.fi"
    ), building digital products that make lives better
  %li
    Working on my sideprojects
    %ul
      %li= link_to "Gridlover", "http://www.gridlover.net"
      %li= link_to "Tinyinvoce", "http://www.tinyinvoice.net"
%p
  %small
    Last update: January 12, 2016
